@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  /* background */
  --bg: #121018;
  --surface: #261f3a;

  /* pallette */
  --primary: #c4b5fd;
  --primary-foreground: #1a1625;

  /* text */
  --text-foreground: #f5f3ff;
  --text-accent: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text-foreground);
  font-family: "Pixelify Sans", monospace;
}

@keyframes move-spritesheet {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1792px 0;
  }
}

.animate-spritesheet {
  animation: move-spritesheet 2.5s steps(14) infinite;
}
